/* Reset Básico */
* {
    margin: 0;
    padding: 0;
    
}

body {
    font-family: 'Roboto', sans-serif;
    background: #141414;
    color: #fff;
    overflow-x: hidden;
}

/* Estilo do Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #1a1a1a;
    position: relative;
    z-index: 10;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #00f7ff;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: color 0.3s ease;
}

/* Ícone do Menu */
.menu-icon {
    display: none; /* Inicialmente escondido */
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.menu-icon span {
    width: 30px;
    height: 3px;
    background: #00f7ff;
    border-radius: 5px;
    transition: all 0.3s ease;
}

/* Navegação */
.nav-links {
    display: flex;
    gap: 30px;
    list-style-type: none;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #00f7ff;
}

/* Efeitos de transição e animações para o menu */
#nav-links {
    display: none;
}

#menu-icon.active span:nth-child(1) {
    transform: rotate(45deg);
    position: relative;
    top: 7px;
}

#menu-icon.active span:nth-child(2) {
    opacity: 0;
}

#menu-icon.active span:nth-child(3) {
    transform: rotate(-45deg);
    position: relative;
    bottom: 7px;
}

#nav-links.active {
    display: flex;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #1a1a1a;
    border-radius: 5px;
    padding: 10px;
    flex-direction: column;
}

/* Seção Principal */
.main-section {
    height: 100vh;
    background: linear-gradient(135deg, #00f7ff, #1a1a1a);
    position: relative;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    animation: fadeIn 2s ease-out;
}

.main-section h1 {
    font-size: 4rem;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    opacity: 0;
    animation: fadeIn 2s 0.5s forwards;
}

.main-section p {
    font-size: 1.5rem;
    opacity: 0;
    animation: fadeIn 2s 1s forwards;
}

.background-shape, .background-shape-two {
    position: absolute;
    width: 2000px;
    height: 2000px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    animation: moveShape 10s linear infinite;
}

.background-shape {
    top: -500px;
    left: -500px;
}

.background-shape-two {
    top: 500px;
    left: 500px;
}

/* Animações */
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes moveShape {
    0% { transform: translateX(0) translateY(0); }
    100% { transform: translateX(-1000px) translateY(-1000px); }
}

/* Seções */
.section {
    padding: 60px 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #00f7ff;
    text-transform: uppercase;
    letter-spacing: 1px;
    opacity: 0;
    animation: fadeIn 2s 0.5s forwards;
}

.card {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
}

.card h3 {
    font-size: 1.8rem;
    color: #00f7ff;
}

.card p {
    font-size: 1.1rem;
    color: #fff;
    margin-top: 10px;
}


/* Estilos gerais para o rodapé */
footer {
    background-color: #333333;
    color: #fff;
    padding: 20px 0;
    font-family: Arial, sans-serif;
}

/* Container do conteúdo do rodapé */
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Estilos do rodapé inferior */
.footer-bottom {
    background: #222;
    padding: 15px 20px;
    text-align: center;
    margin-top: 30px;
    font-size: 0.9rem;
}

.footer-bottom p {
    margin: 0;
    color: #bbb;
}

/* Estilo dos ícones sociais */
.social-icons a {
    margin: 0 10px;
    display: inline-block;
    opacity: 0;
    animation: fadeIn 2s 1.5s forwards;
}

.social-icons img {
    width: 30px;
    height: 30px;
}

/* Efeito de hover nos ícones sociais */
.social-icons a:hover {
    opacity: 1;
    transform: scale(1.1);
    transition: all 0.3s ease;
}

/* Estilo para links de contato */
.contact-info a {
    color: #fff;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

/* Estilo do texto sobre mim */
.about-me p {
    font-size: 1rem;
    color: #f0f0f0;
    max-width: 400px;
    margin-top: 10px;
}

/* Animação para fade-in */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}



/* Seção Sobre */
#sobre {
    padding: 60px 20px;
    animation: gradientAnimation 5s infinite alternate;
}

.about-container {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;  /* Permite que os itens se movam para a próxima linha */
}

.about-image {
    width: 300px; /* Tamanho quadrado da imagem */
    height: 300px;
    object-fit: cover;
    border-radius: 10px; /* Borda arredondada para suavizar */
    animation: fadeIn 2s ease-out;
}

.about-container p {
    font-size: 1.2rem;
    color: #fff;
    max-width: 600px;
    line-height: 1.6;
    text-align: center;  /* Alinha o texto no centro */
}

/* Estilos gerais para a seção de habilidades */

#linguagens h2 {
    font-size: 3rem;
    margin-bottom: 40px;
    color: #00f7ff;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 0 0 15px rgba(0, 255, 255, 0.7), 0 0 30px rgba(0, 255, 255, 0.5);
    opacity: 0;
    animation: fadeIn 2s 0.5s forwards;
}

/* Estilos para as abas */
.tabs {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 40px;
}

.tab-button {
    background: linear-gradient(135deg, #1a1a1a, #333);
    border: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 1.2rem;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 30px;
    transition: all 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.5);
}

.tab-button:hover,
.tab-button.active {
    background: linear-gradient(135deg, #00f7ff, #005577);
    color: #fff;
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.8), 0 0 30px rgba(0, 255, 255, 0.5);
}

/* Conteúdo das abas */
.tab-content {
    display: none;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.5s ease;
}

.tab-content.active {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

/* Estilos para os cards de habilidades */
.linguagens-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 40px;
    opacity: 0;
    animation: fadeIn 2s 1s forwards;
}

.linguagem {
    background: linear-gradient(135deg, rgba(0, 255, 255, 0.1), rgba(0, 0, 0, 0.8));
    border-radius: 15px;
    padding: 25px;
    width: 150px;
    height: 120px;
    text-align: center;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.2);
}

.linguagem:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 25px rgba(0, 255, 255, 0.5), 0 0 50px rgba(0, 255, 255, 0.3);
    background: linear-gradient(135deg, rgba(0, 255, 255, 0.3), rgba(0, 0, 0, 0.9));
}

.linguagem img {
    width: 60px;
    height: 60px;
    margin-bottom: 15px;
    transition: transform 0.3s ease, filter 0.3s ease;
    filter: drop-shadow(0 0 10px rgba(0, 255, 255, 0.5));
}

.linguagem:hover img {
    transform: scale(1.2);
    filter: drop-shadow(0 0 20px rgba(0, 255, 255, 0.8));
}

.linguagem p {
    font-size: 1.1rem;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    text-shadow: 0 0 10px rgba(0, 255, 255, 0.7);
    margin-top: 10px;
}

/* Animações */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Seção Projetos */
#projetos {
    padding: 60px 20px;
    background: #141414; /* Fundo escuro - #141414 */
    color: #fff;
}

#projetos .container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

#projetos h2 {
    font-size: 3rem;
    margin-bottom: 50px;
    color: #00f7ff; /* Azul neon */
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-shadow: 0 0 10px rgba(0, 247, 255, 0.8), 0 0 20px rgba(0, 247, 255, 0.6);
}

.card {
    background: #222; /* Fundo escuro nos cards */
    border-radius: 10px;
    box-shadow: 0 10px 40px rgba(0, 247, 255, 0.2); /* Azul neon */
    margin: 20px 0;
    padding: 30px;
    text-align: center;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    position: relative;
    overflow: hidden;
}

.card:hover {
    transform: translateY(-15px);
    box-shadow: 0 15px 50px rgba(0, 247, 255, 0.4); /* Azul neon */
}

.card h3 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #fff;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.project-img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}

.project-img:hover {
    transform: scale(1.05);
}

.card p {
    font-size: 1.1rem;
    color: #ccc;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
}

.btn {
    display: inline-block;
    padding: 12px 30px;
    font-size: 1.2rem;
    background: linear-gradient(135deg, #00f7ff, #00b3ff); /* Azul neon */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    border: 2px solid #00f7ff; /* Azul neon */
}

.btn:hover {
    background: linear-gradient(135deg, #00f7ff, #00b3ff); /* Azul neon - sem mudança */
    color: #fff; /* Cor original do texto */
    border: 2px solid #00f7ff; /* Azul neon - sem mudança */
    transform: scale(1); /* Nenhuma transformação */
}



.card:hover::before {
    opacity: 0.2; /* Manter a opacidade original */
}



/* Seção de Contato */
#contato {
    padding: 100px 0;
    background-color: #141414; /* Fundo escuro */
    text-align: center;
    margin-top: 80px;
}

/* Container centralizado */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Título Principal */
h2 {
    font-size: 3.5rem;
   
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 5px;
    text-shadow: 0 0 15px rgba(0, 255, 255, 0.7); /* Efeito de brilho */
}

/* Subtítulo */
p {
    font-size: 1.3rem;
    color: #bbb; /* Cor de texto suave */
    margin-bottom: 50px;
    opacity: 0.8;
}

/* Botão para Acessar o Blog */
.blog-button .btn-futuristic {
    background-color: rgba(0, 255, 255, 0.7); /* Cor ciano futurista */
    color: #141414; /* Cor do texto escura */
    padding: 18px 35px;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    border-radius: 35px;
    border: 2px solid #00f7ff;;
    letter-spacing: 2px;
    transition: all 0.4s ease;
    margin-bottom: 40px;
    box-shadow: 0 0 20px rgba(0, 188, 212, 0.4);
}

.blog-button .btn-futuristic:hover {
    background-color: #141414; /* Fundo escuro */
    color: #00bcd4; /* Cor ciano futurista */
    border: 2px solid #00bcd4;
    box-shadow: 0 0 30px rgba(0, 188, 212, 0.7); /* Brilho mais forte */
}

/* Posts do Blog */
.blog-posts {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Quadrados dinâmicos */
    gap: 30px;
    margin-top: 40px;
}

/* Cartões de Post */
.post-card {
    background-color: #222; /* Cor de fundo escura e elegante */
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
    position: relative;
    cursor: pointer;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.post-card:hover {
    transform: translateY(-10px); /* Levanta o cartão ao passar o mouse */
    box-shadow: 0 15px 40px rgba(0, 188, 212, 0.5); /* Brilho futurista ao hover */
}

/* Imagem dentro do Cartão */
.post-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    transition: opacity 0.3s ease;
    border-bottom: 2px solid #00bcd4; /* Linha de separação */
}

.post-card:hover img {
    opacity: 0.85; /* Efeito de opacidade ao passar o mouse */
}

/* Título do Post */
.post-card h3 {
    font-size: 1.7rem;
    color: #00bcd4; /* Cor futurista */
    margin: 25px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 0 0 5px rgba(0, 188, 212, 0.6); /* Efeito de brilho */
}

/* Parágrafo do Post */
.post-card p {
    font-size: 1.1rem;
    color: #bbb; /* Cor de texto suave */
    margin: 0 25px 25px;
    opacity: 0.9;
}

/* Animação para exibir os posts com um efeito fade */
.blog-posts {
    opacity: 0;
    animation: fadeIn 1.5s ease forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* Para telas muito pequenas (menos que 480px) */
@media (max-width: 480px) {

    footer {
        padding: 15px 0;
    }

    .footer-content {
        padding: 0 10px;
    }

    .social-icons a {
        margin: 0 5px;
    }

    .footer-bottom {
        font-size: 0.75rem;
    }

    h2 {
        font-size: 2rem; /* Tamanho de fonte menor em telas muito pequenas */
    }

    .blog-button .btn-futuristic {
        font-size: 0.9rem;
        padding: 12px 25px;
    }

    .post-card h3 {
        font-size: 1.3rem;
    }

    .post-card p {
        font-size: 0.9rem;
    }

    /*Sobre*/
    .about-container p {
        font-size: 1rem; /* Reduz o tamanho do texto em telas menores */
        max-width: 100%; /* Garante que o texto ocupe toda a largura */
    }

    .about-image {
        width: 200px; /* Ajusta ainda mais o tamanho da imagem */
        height: 200px;
    }


    .linguagem {
        width: 10px;  /* Reduz a largura das caixas */
        padding: 10px 15px;  /* Diminui o padding */
    }

    .linguagem img {
        width: 50px; /* Reduz as imagens */
        height: 50px;
    }

    .linguagem p {
        font-size: 0.8rem; /* Menor tamanho da fonte */
    }

    #sobre img {
        max-width: 150px; /* Ajusta ainda mais o tamanho da imagem */
    }

    /* Ajuste do menu */
    .menu-icon {
        display: flex;
        justify-content: flex-end;
    }

    .nav-links {
        padding: 20px; /* Menor padding */
        width: 250px; /* Menor largura para dispositivos ainda menores */
    }

    .nav-links a {
        font-size: 16px; /* Tamanho de fonte reduzido */
        margin-bottom: 15px; /* Menor espaçamento */
    }

    /* Ajuste para a seção de Linguagens de Programação */
    #linguagens h2 {
        font-size: 1.8rem; /* Título ainda menor em telas pequenas */
        margin-bottom: 20px;  /* Menor margem */
    }

    .linguagens-container {
        gap: 15px; /* Menor espaçamento para melhor organização */
    }
}



/* Responsividade */
/* Para celulares e tablets */
@media (max-width: 1024px) {

    .blog-posts {
        grid-template-columns: repeat(2, 1fr); /* Duas colunas em telas médias */
    }

    h2 {
        font-size: 2.8rem;
    }

    .blog-button .btn-futuristic {
        font-size: 1rem;
    }

    .post-card h3 {
        font-size: 1.5rem;
    }

    .post-card p {
        font-size: 1rem;
    }

    /* Para tablets */
    #linguagens h2 {
        font-size: 2.5rem;
        margin-bottom: 30px;
    }

    .tab-button {
        padding: 8px 16px;
        font-size: 1rem;
    }

    .linguagem {
        width: 150px;
        padding: 20px;
    }

    .linguagem img {
        width: 50px;
        height: 50px;
    }

    .linguagem p {
        font-size: 1rem;
    }

    .linguagens-container {
        gap: 30px;
    }

    #sobre img {
        max-width: 250px; /* Ajusta o tamanho máximo para telas de tablets */
    }

    /* Ícone do menu visível */
    .menu-icon {
        display: flex;
    }

    /* Menu visível em celulares */
    .nav-links {
        display: none;
        position: absolute;
        top: 60px;
        right: 20px;
        background-color: #1a1a1a;
        border-radius: 10px;
        padding: 30px; /* Aumenta o padding para dar mais espaço interno */
        flex-direction: column;
        width: 300px; /* Aumenta a largura da caixa do menu */
        height: auto; /* Deixa a altura automática para se ajustar ao conteúdo */
        transform: translateX(100%) scale(0.95); /* Começa fora da tela e com escala reduzida */
        opacity: 0; /* Começa invisível */
        transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55), opacity 0.3s ease; /* Animações mais avançadas */
    }

    .nav-links a {
        font-size: 18px;
        margin-bottom: 20px; /* Maior espaçamento entre os itens do menu */
        opacity: 0; /* Começam invisíveis */
        transform: translateX(-20px); /* Inicia levemente deslocado */
        transition: opacity 0.3s ease, transform 0.3s ease; /* Animações para os itens do menu */
    }

    /* Quando o menu está ativo */
    .nav-links.active {
        display: flex;
        transform: translateX(0) scale(1); /* O menu desliza para dentro e volta ao tamanho normal */
        opacity: 1; /* Torna o menu visível */
    }

    /* Animação para os links */
    .nav-links.active a {
        opacity: 1; /* Torna os links visíveis */
        transform: translateX(0); /* Traz os links para a posição original */
        transition: opacity 0.5s ease, transform 0.5s ease; /* Transições suaves para os links */
    }

    /* Ajuste para a seção de Linguagens de Programação */
    #linguagens h2 {
        font-size: 2rem; /* Ajusta o tamanho do título para telas menores */
        margin-bottom: 30px;
    }

    .linguagens-container {
        gap: 20px; /* Menor espaçamento para que os itens se ajustem melhor */
    }
}

/* Para telas pequenas (celulares menores que 768px) */
@media (max-width: 768px) {

    .footer-content {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .social-icons a {
        margin: 0 8px;
    }

    .footer-bottom p {
        font-size: 0.8rem;
    }

    .about-me p {
        max-width: 100%;
        text-align: center;
    }

    .blog-posts {
        grid-template-columns: 1fr; /* Uma coluna em telas menores */
        gap: 20px;
    }

    h2 {
        font-size: 2.5rem;
    }

    .blog-button .btn-futuristic {
        font-size: 1rem;
    }

    .post-card h3 {
        font-size: 1.4rem;
    }

    .post-card p {
        font-size: 0.95rem;
    }
    .btn {
        font-size: 1rem;
    }

    /*Sobre */
    .about-container {
        flex-direction: column; /* Alinha os itens verticalmente */
        text-align: center;  /* Centraliza o texto */
    }

    .about-image {
        width: 250px; /* Ajusta o tamanho da imagem */
        height: 250px;
    }

    .about-container p {
        font-size: 1.1rem; /* Reduz um pouco o tamanho do texto */
        max-width: 500px; /* Ajusta a largura máxima do texto */
    }


     /* Para dispositivos móveis */
     #linguagens {
        padding: 60px 10px;
    }

    #linguagens h2 {
        font-size: 2rem;
        margin-bottom: 20px;
    }

    .tab-button {
        padding: 6px 12px;
        font-size: 0.9rem;
    }

    .linguagem {
        width: 120px;
        padding: 15px;
    }

    .linguagem img {
        width: 40px;
        height: 40px;
    }

    .linguagem p {
        font-size: 0.9rem;
    }

    .linguagens-container {
        gap: 20px;
    }

    #sobre img {
        max-width: 200px; /* Ajusta o tamanho máximo para telas menores */
    }

    /* Ícone do menu visível */
    .menu-icon {
        display: flex;
    }

    /* Menu visível em celulares */
    .nav-links {
        display: none;
        position: absolute;
        top: 60px;
        right: 20px;
        background-color: #1a1a1a;
        border-radius: 10px;
        padding: 30px; /* Aumenta o padding para dar mais espaço interno */
        flex-direction: column;
        width: 300px; /* Aumenta a largura da caixa do menu */
        height: auto; /* Deixa a altura automática para se ajustar ao conteúdo */
        transform: translateX(100%) scale(0.95); /* Começa fora da tela e com escala reduzida */
        opacity: 0; /* Começa invisível */
        transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55), opacity 0.3s ease; /* Animações mais avançadas */
    }

    .nav-links a {
        font-size: 18px;
        margin-bottom: 20px; /* Maior espaçamento entre os itens do menu */
        opacity: 0; /* Começam invisíveis */
        transform: translateX(-20px); /* Inicia levemente deslocado */
        transition: opacity 0.3s ease, transform 0.3s ease; /* Animações para os itens do menu */
    }

    /* Quando o menu está ativo */
    .nav-links.active {
        display: flex;
        transform: translateX(0) scale(1); /* O menu desliza para dentro e volta ao tamanho normal */
        opacity: 1; /* Torna o menu visível */
    }

    /* Animação para os links */
    .nav-links.active a {
        opacity: 1; /* Torna os links visíveis */
        transform: translateX(0); /* Traz os links para a posição original */
        transition: opacity 0.5s ease, transform 0.5s ease; /* Transições suaves para os links */
    }
}
 